body{
    background-color: lightgray;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

h1{
    padding: 15px;
    text-align: center;
    width: 100%;
    margin: 0px;
    background-color: #3c3c3c;
    color: white;
}

h3{
    text-align: center;
}

input{
    font-size: 15px;
    width: 50%;
    height: 25px;
    border-radius: 5px;
}

button{
    border-radius: 5px;
}

.newTask{
    border: 1px solid red;
    border-radius: 10px;
    background-color: lightpink;
    list-style: none;
    padding: 5px;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10%;
    margin-left: 10%;
}

.completedTask{
    text-decoration: line-through;
    border: 1px solid green;
    border-radius: 10px;
    background-color: lightgreen;
    list-style: none;
    border-radius: 5px;
    padding: 5px;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10%;
    margin-left: 10%;
}

.deleteBtn{
    float: right;
    background-color: red;
}

.completeBtn{
    float: left;
    background-color: lightgreen;
}

#createTask{
    margin-right: 25%;
    margin-left: 25%;
}

#addTask{
    height: 25px;
    width: 30px;
    background-color: lightgreen;
    font-size: large;
}

#taskList{
    border: 1px solid black;
    padding-left: initial;
    text-align: center;
}